<header>
  <mat-toolbar>
    <img src="/assets/images/myhotel.png" alt="My Hotel" class="img-fluid h-50"/>
    <span class="flex-fill"></span>
   <!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
</header>
<main class="container-fluid p-3">
  <router-outlet></router-outlet>
</main>
