.mat-column-number {
  max-width: 4rem;
}

.mat-column-firstAndLastName {
  max-width: 8rem;
}

.mat-column-email {
  max-width: 10rem;
  padding-left: .5rem;
}

.mat-column-rating {
  max-width: 4rem;
  padding-left: .5rem;
}

.mat-column-createdAt {
  max-width: 6rem;
}

.mat-column-actions {
  max-width: 6rem;
}

.mat-column-comments{
  padding-left: .5rem;
}
