<div class="row justify-content-end">
  <div class="col-auto">
    <button type="button" mat-flat-button color="primary" appCreateOrEditReview>Add Review</button>
  </div>
</div>


<mat-table [dataSource]="dataSource" matSort class="table-responsive w-100 mt-4 mat-elevation-z4">
  <!-- Index Column -->
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef> Nº. </mat-header-cell>
    <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
  </ng-container>

  <!-- FirstName and LastName Column -->
  <ng-container matColumnDef="firstAndLastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let review"> {{review.firstName}} {{review.lastName}} </mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
    <mat-cell *matCellDef="let review"> {{review.email}} </mat-cell>
  </ng-container>


  <!-- Comments Column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Comments </mat-header-cell>
    <mat-cell *matCellDef="let review"> {{review.comments}} </mat-cell>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Rating </mat-header-cell>
    <mat-cell *matCellDef="let review">
      <app-rating-emoji [rating]="review.rating"></app-rating-emoji>
    </mat-cell>
  </ng-container>

  <!-- CreatedAt Column -->
  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
    <mat-cell *matCellDef="let review"> {{review.createdAt | date:dateFormat}} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let review">
      <button type="button" mat-icon-button color="secondary" appCreateOrEditReview [review]="review">
        <mat-icon>
          edit
        </mat-icon>
      </button>
      <button type="button" mat-icon-button color="secondary" appDeleteReview [review]="review">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
